<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810577721643-erkarugqqvhciilqprkdjosqi6n74a33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810577721643-erkarugqqvhciilqprkdjosqi6n74a33</string>
	<key>API_KEY</key>
	<string>AIzaSyDGeUmtZrG19hm4ih5-2fT4QQSyBEfecxU</string>
	<key>GCM_SENDER_ID</key>
	<string>810577721643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LessyLi.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-abf96</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-abf96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810577721643:ios:6313462fea7bd3f9752d6e</string>
</dict>
</plist>